extends ../layouts/default

mixin team(team)
	.team(data-ks-editable=editable(user, { list: 'Team', id: team.categories })).jumbotron
		if team.image.exists
			img(src=team._.image.fit(200,200), style='margin-bottom: 10px; padding: 10px; margin: 0 auto 10px;').img.pull-left
		each cat, i in team.categories
			h2: a(href='/team/' + cat.key)= cat.name
		h4!= team.position
		p!= team.discription
			
block content
	.container: .row
		.col-sm-8.col-md-9
			h1 Team
			if filters.category && !data.category
				h3.text-muted Invalid Category.
			else
				if data.posts.results.length
					if data.posts.totalPages > 1
						h4.text-weight-normal Showing
							strong #{data.posts.first}
							|  to
							strong #{data.posts.last}
							|  of
							strong #{data.posts.total}
							|  posts.
					else	
					.team
						each team in data.posts.results
							+team(team)

					if data.posts.totalPages > 1
						ul.pagination
							if data.posts.previous
								li: a(href='?page=' + data.posts.previous): span.glyphicon.glyphicon-chevron-left
							else
								li.disabled: a(href='?page=' + 1): span.glyphicon.glyphicon-chevron-left
							each p, i in data.posts.pages
								li(class=data.posts.currentPage == p ? 'active' : null)
									a(href='?page=' + (p == '...' ? (i ? data.posts.totalPages : 1) : p ))= p
							if data.posts.next
								li: a(href='?page=' + data.posts.next): span.glyphicon.glyphicon-chevron-right
							else
								li.disabled: a(href='?page=' + data.posts.totalPages): span.entypo.glyphicon.glyphicon-chevron-right
				else
					if data.category
						h3.text-muted There are no posts in the category #{data.category.name}.
					else
						h3.text-muted There are no posts yet.
						
		if data.categories.length
			.col-sm-4.col-md-3(style='margin-top: 69px;')
				.list-group
					a(href='/team', class=!data.category ? 'active' : false).list-group-item All Team Members
					each cat in data.categories
						a(href='/team/' + cat.key, class=data.category && data.category.id == cat.id ? 'active' : false).list-group-item= cat.name
